p {
    color: #7C7C7C;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    padding: 10px;
}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 45px;
    margin: 0px;
}

h3 {
    color: #FFFFFF;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: bold;
}

h4 {
    color: #D11F2A;
    font-size: 30px;
}

body {
    background-color: #000000;
    text-align: center;
}

div.liens a {
    display: inline-block;
    font-size: 22px;
    padding-left: 25px;
    padding: 10px;
    color: #65BAFD;
}

ul.menu {
    background-color: #323232;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 70px;
    margin-top: -10px;
}

ul.menu li {
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
}

ul.menu img {
    height: 40px;
    width: auto;
    vertical-align: middle;
}

ul.menu li a {
    display: inline-block;
    padding: 25px;
}

a:link {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

#iphone11pro {
    position: relative;
    top: 70px;
}

#11pro {
    width: 100%;
}

.liensblancs {
    background-color: #FAFAFA;
    z-index: 3;
}

div.liensblanc a {
    display: inline-block;
    font-size: 22px;
    padding-left: 25px;
    padding: 10px;
    color: #65BAFD
}

#iphone11 {
    background-color: #FAFAFA;
    text-align: center;
    padding-top: 50px;
    margin-top: 56px;
}

#iphone11 h2 {
    color: #111111;
    font-size: 45px;
}

#iphone11 h3 {
    color: #111111;
}

#imgiphone {
    display: block;
    width: 100%;
}

#smartwatch h2 {
    color: #111111;
    padding-top: 5px;
    font-size: 45px;
}

#smartwatch {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 37%;
}

#watches {
    position: relative;
    top: 0px;
    z-index: 1;
    width: 100%;
}

#logoblanc {
    position: absolute;
    left: 40%;
    z-index: 2;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}